.main {
  min-height: 100vh;
  width: 90% !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.h1, .h1small {
  padding: 0;
  margin: 10px 0;
  line-height: initial;
}

.h3 {
  padding: 0;
  margin: 0;
}

.content {
  flex: 1;
  min-height: 100vh;
  width: 100% !important;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .content {
    width: 60% !important;
    padding: 5% 0;
  }
}

.chessPuzzle {
  flex: 1;
  padding: 5% 0;
  max-width: 400px;
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .chessPuzzle {
    width: 30% !important;
    margin-top: 0;
  }
}
