.main {
  min-height: 100vh;
  width: 90% !important;
  padding: 0% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .main {
    padding: 50% 0;
  }
}
.h1 {
  padding: 0;
  margin: 10px 0;
  line-height: initial;
}
.h1small {
  padding: 0;
  margin: 10px 0;
  line-height: initial;
}
.h3 {
  padding: 0;
  margin: 0;
}

.content {
  flex: 1;
  min-height: 100vh;
  width: 30% !important;
  padding: 5% 0;
}

.chessPuzzle {
  /* margin-left: 20px; */
  /* margin: 10vh; */
  flex: 1;
  padding: 5% 0;
  max-width: 400px; /* Adjust width as needed */
  width: 30% !important;
}