.about {
    width: 70%;
    min-height: 100vh;
    letter-spacing: normal;
    text-align: justify;
}

.listdiv {
    display: flex;
    flex-direction: row;
    align-items: center; 
  }
  
.categoryText {
    min-width: 150px; /* Adjust this width to match the longest category label */
  }
  
.skillText {
    flex: 1; /* Takes up the remaining space */
  }

@media (max-width: 768px) {
    .about {
        width: 100%;
        min-height: fit-content;
        text-align: start;
    }
}

@media (max-width: 992px){
    .listdiv {
        flex-direction: column;
    }
}